/*------------------------------------------
--------------------------------------------
--------------------------------------------
                Register
--------------------------------------------
--------------------------------------------
------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


.logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 30px 0;
}

svg{
    width: 30%
}

.visu-login{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 0 30px 0;
}

.login-phone{
    width: 30%;
}

.container-button{
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 60px 0 60px;
}

/* button */

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    height: 22px;
    width: 120px;
    border-radius: 40px;
    opacity: 0.5;
    border: 1px grey solid;
    transition-duration: 100ms;
}

.button-selected{
    background-color: #0F71B8;
    color: white;
    opacity: 1;
    transition-duration: 100ms;
    border: 1px #0F71B8 solid;
}


/* form for login */

form{
    padding: 0 30px 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}

label{
    font-size: 10px;
    color: grey;
    width: 100%;
    text-align: left;
    margin-top: 10px;
}

input {
    padding: 5px;
    margin-top: 5px;
    font-size: 15px;
    border-radius: 0;
    border: none;
    border-bottom: solid 1px grey;
    width: 100%;
    outline: none;
    margin-bottom: 20px;
}

.last{
    margin-bottom: 0px;
}

.lose{
    font-size: 10px;
    color: grey;
    margin: 0 0 0 30px;
}

.container-next{
    width: 100%;
    padding: 40px 15px 30px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-next{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #0F71B8;
    text-decoration: none;
    color: white;
    font-size: 15px;
    text-align: center;
    height: 50px;
    border-radius: 50px;
}

.container-connect{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.line{
    width: 30%;
    height: 2px;
    background-color: grey;
}

.connect{
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
    color: #0F71B8;
    width: 40%;
    text-align: center;
    margin: 0 10px 0 10px;
}