.x {
  background-image: url(img/x.PNG);
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 85%;
  margin-top: 10%;
  position: relative;
  width: 17px;
  height: 25px;
}

.profil {
  width: 200px;

  height: 200px;
  border-radius: 50%;
  margin: 10% 25% 0 25%;

  background-color: #ebebeb;
}

#image {
  width: 80%;
  border-radius: 50%;
  margin: 10% 0 0 10%;
}

.photo {
  position: relative;
  bottom: 50px;
  left: 230px;
}

#photo {
  border-radius: 50%;
  width: 15%;
}

.title {
  text-align: center;
  margin-bottom: 80px;
}

h3 {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 15px;
}

.info {
  padding: 0 5% 0 5%;
  height: 80px;
}

.changer {
  position: relative;
  bottom: 50px;
  left: 280px;
}

p {
  color: #1171b8;
  font-weight: bold;
}
